<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Viewer</title>
#parse ("azkaban/webapp/servlet/velocity/style.vm")
#parse ("azkaban/webapp/servlet/velocity/javascript.vm")
</head>
<body>

#set ($current_page="$viewerName")
#parse ("azkaban/webapp/servlet/velocity/nav.vm")

  <div class="az-page-header">
    <div class="container-full">
      <h1><a href="${context}/schedule">Hive Viewer</a></h1>
    </div>
  </div>
  <div class="container">
    <div class="col-md-3" id="db-tables"> 
    </div>
    <div class="col-md-9">
      <div class="row">
       
        <form action="">
          <div class="form-group">
            <label for="sqlScript">SQL Editor</label>
            <textarea type="text" class="form-control" id="sqlScript" rows="5">
            </textarea>
            <button type="button" class="btn btn-primary" id="create-btn">Exec Sql</button>
          </div>
        </form>
      </div>
      <div class="row">
        <label>Query Output</label>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead id="tableoutputheader">
            </thead>
            <tbody id="tableoutputbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      var contextURL = "${context}";
    $(document).ready(
      function() {
        $.ajax(
          {
            url: contextURL + "/hive",
            type: "get",
            data: {"ajax": "getDbNames"},
            dataType: "json",
            success: function(data) {
              console.log(data);
              var tableHtml = '';
              for (var i = 0; i < data.dbnames.length; i ++) {
                tableHtml += '<div class="row">';
                tableHtml += '<div class="btn-group">                                                                       ';
                tableHtml += '<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-' + data.dbnames[i] + '"';
                tableHtml += 'id="dbname-' + data.dbnames[i] + '">' + data.dbnames[i] + '</button> ';
                tableHtml += '<button class="btn btn-info" type="button" data-toggle="collapse" ';
                tableHtml += '          data-target="#collapse-' + data.dbnames[i] + '" aria-expanded="false" ';
                tableHtml += '          aria-controls="collapseExample">';
                tableHtml += '    <span class="caret"></span>';
                tableHtml += '  </button>';
                tableHtml += '  ';
                tableHtml += '  <div class="collapse" id="collapse-' + data.dbnames[i] + '">';
                tableHtml += '  </div>';
                tableHtml += '</div>';
                tableHtml += '</div>';

              }
              $("#db-tables").html(tableHtml);
            }
          }
        )
      }
    )

    // must write such format
    $(document).on("click", "button[id^=dbname]", 
    // $("button[id^=dbname]").click(
      function() {
        // var dbname = $("button[id^=dbname]").text();
        var dbname = $(this).text();
        var requestData = {
          "ajax": "getTableNames",
          "db": dbname
        };
        $.ajax({
          url: contextURL + "/hive",
          type: "get",
          data: requestData,
          dataType: "json",
          success: function(data) {
            console.log(data);
            var tablesname = "<ul>"
            for (var i=0; i < data.tables.length; i ++) {
              tablesname += "<li>" + data.tables[i] + "</li>";
            }
            tablesname += "</ul>";
            $("#collapse" + "-" + dbname).html(tablesname);
          }
        })
      }
    )

    $("#create-btn").click(
      function() {
        const requestData = {
        "ajax": "sqlStatement",
        "sqlexec": $("#sqlScript").val()
        };
        $.ajax({
          url: contextURL + "/hive",
          type: "get",
          data: requestData,
          dataType: "json",
          error: function (data) {
            console.log(data);
          },
          success: function(data) {
            console.log(data);
            var headhtml = "<tr>";
            var tablebodyhtml = "";

            for (var i = 0; i < data.header.length; i ++) {
              headhtml += "<th>" + data.header[i] + "</th>";
            }
            headhtml += "</tr>";
            
            for (var i = 0; i < data.data.length; i ++) {
              tablebodyhtml += "<tr>";
              for (var j = 0; j < data.data[i].length; j ++) {
                tablebodyhtml += "<td>" + data.data[i][j] + "</td>";
              }
              tablebodyhtml += "</tr>";
            }

            $("#tableoutputheader").html(headhtml);
            $("#tableoutputbody").html(tablebodyhtml);
          }
          //successHandler
        });  
      }
    )
  </script>
</body>
</html>